body {
    background-color: #e7eff9;
}

.placement-note {
    background-color: white;
    height: 700px;
    width: 80%;
    margin-left: 200px;
    padding-left: 20px;
    border-radius: 30px;
    font-size: 20px;
}
.placement-job-note-{
    
}
.placement-img{
    height: 300px;
    width: 200px;
    margin-left: 880px;
}
.placement-img-right{
    margin-left: 10px;
}